{{ define "main" }}
<div id="projectScroll">
	<ul>
		<li>
			{{ with .NextInSection }}
			  <a href="{{ .Permalink }}">previous project</a>
			{{ end }}
		</li>
		<li>
			{{ with .PrevInSection }}
			  <a href="{{ .Permalink }}">Next project</a>
			{{ end }}
		</li>
	</ul>
</div>

<main>
    <section id="projectIntro" class="animated fadeIn">
		<div>
			{{ with .Resources }}
				{{ with .GetMatch "{cover.*,*.jpg,*.png,*.jpeg}" }}      
				<img src="{{ .Permalink }}"/>          
				{{ end }}
			{{ end }}
		</div>
		<div class="text">
			<div>
				<h1>{{ .Title }}</h1>
				<div>
					<div class="animated fadeInUp"><p>{{ .Description }}</p></div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="projectInfo" class="animated fadeIn">	
		{{.Content}}
	</section>	
</main>
{{end}}


