    <div id="about" class="hide">
        <div id="aboutCon" class="animated slideInDown">
			<div>
				<h1>Me</h1>
				<p>I am a product designer with a passion for designing, making and problem solving. From extracting sand from concrete to make glass, designing educational tools and managing exhibitions. My work addresses materials and process, traditional making and education with a concern for sustainability.</p>

				<p></p>
				<ul>
					<li><h2>MA Design Product</h2></li>
					<li><h3>Royal College of Art | 2020</h3></li>
					<li><h2>BA Sustainable Product Design </h2></li>
					<li><h3>Falmouth University | 2018</h3></li>
				</ul>
				<ul>
					<li><h2>Awards &amp; Exhibitions:</h2></li>
					<li><h3>LDF, Brompton design district 2020</h3></li>
					<li><h3>Editor &amp; co-founder of the DP publication 2019 - 2020, 2MD</h3></li>
					<li><h3>V&amp;A’s Day of Design, London, 2019</h3></li>
					<li><h3>Circular City Hack, Designer 2020</h3></li>
					<li><h3>V&amp;A’s Day of Design, London 2019</h3></li>
					<li><h3>Project managed, Design Products exhibition, Milan 2019</h3></li>
					<li><h3>Creative Conscious award for educational tool 2018</h3></li>
					<li><h3>Project managed, Greens not Easy, New Designers, awarded Best Stand in Show 2018.</h3></li>
				</ul>
			</div>
			<div>
				<ul>
					<li><h2>design@elliotlunn.co.uk</h2></li>
					<li><a href="https://www.instagram.com/elliotlunn/"><h2>@elliotlunn</h2></a></li>
				</ul>
			</div>
        </div>
    </div>